*.*
!*.md
!.gitignore
!circle.yml
!pom.xml
!*.java
!*.yml
!*.asl
!*.properties

!src/analysis/**/*.xml
!src/analysis/**/*.txt

!src/site/*.doxyfile
!src/site/*.htm*
!src/site/*.css
!src/site/*.xml

target/**

